<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/vue/vue.js"></script>
    <script src="/static/element-ui/index.js"></script>
</head>
<body>
    <div id = "login-form">
        <el-form class="login-form">
            <h3 class="login-title">M-Blog后台管理系统</h3>
            <el-form-item>
                <el-input prefix-icon="el-icon-user-solid"></el-input>
            </el-form-item>
            <el-form-item style="margin-bottom: 0px;">
                <el-input prefix-icon="el-icon-lock"></el-input>
            </el-form-item>
            <el-form-item style="margin-bottom: 0px;">
                <el-checkbox>记住我</el-checkbox>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" style="width: 100%">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</body>
<script>
    new Vue({
        el: '#login-form'
    })
</script>
</html>