<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/jquery/jquery-3.6.1.min.js"></script>
    <script src="/vue/vue.js"></script>
    <script src="/element-ui/index.js"></script>
</head>
<body>
    <div id = "login-form">
        <el-form class="login-form">
            <h3 class="login-title">M-Blog后台管理系统</h3>
            <el-form-item>
                <el-input v-model="username" prefix-icon="el-icon-user-solid"></el-input>
            </el-form-item>
            <el-form-item style="margin-bottom: 0px;">
                <el-input v-model="password" prefix-icon="el-icon-lock" show-password></el-input>
            </el-form-item>
            <el-form-item style="margin-bottom: 0px;">
                <el-checkbox v-model="rememberMe">记住我</el-checkbox>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" style="width: 100%" v-on:click="login">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</body>
<script type="module" src="/js/login.js"></script>
</html>